    h1 {
        font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", "Helvetica"; 
        font-weight: 300;
        text-align: center;
        color: #4169e1;
        
    }
    
    h2 {
        font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", "Helvetica";
        font-weight: 300;
        text-align: center;
    }
    
    h3 {
        font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", "Helvetica"; 
        font-weight: 200;
        text-align: center;
    }
    h4 {
        /*display: block;
        width: 8%;*/
        margin: auto;
        font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", "Helvetica"; 
        font-weight: 200;
        text-align: center;
    }

    section {
        display: block;
        width: 60%;
        font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", "Helvetica";
        font-weight: 300;
        line-height: 1.5;
        margin: auto;
/*        text-align: center;
*/       /* background-color: lightgray; */

    }
    .hrgrad {
        border: 0;
        height: 2px;
        background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));

    }

    a {
        color: black;
        text-decoration: none;
    }
    
    a:visited {
        color: purple;
    }
    
    a:hover {
        color: red;
    }

    .code {
        text-align: left;
    }