@import url(http://fonts.googleapis.com/css?family=Raleway+Dots);
@import url(http://fonts.googleapis.com/css?family=Raleway);
@import url(http://fonts.googleapis.com/css?family=Advent+Pro:400,200,700);

[class*="entypo-"]:before {
  font-family: 'entypo', sans-serif;
}
/*Note on font import: won't render properly if linked through https protocol*/

@media screen and (-webkit-min-device-pixel-ratio:0) {
 @font-face {
  font-family: 'entypo';
  src: url('path to entypo.svg#entypo') format('svg');
  }
}

html, body {
  margin: 0;
  margin-right: 22px;
  width: 100%;
  background-color: #131f43;
}

/*.full-page {
  background-color: #131f43;
   background: -webkit-linear-gradient(#7b85ad,#131f43);  
    background: -moz-linear-gradient(#7b85ad,#131f43);  
    background: -o-linear-gradient(#7b85ad,#131f43);  
    background: linear-gradient(#7b85ad,#131f43);  

    -webkit-transition: background 3s ease-out;  
    -moz-transition: background 3s ease-out;  
    -o-transition: background 3s ease-out;  
    transition: background 3s ease-out;  

    background-size: cover;  
  
}*/

.jato {
  display: -webkit-flex;
  font-family: 'Raleway Dots', 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', 'Helvetica';
  padding-top: 0em;
  /*padding-left: 22px;*/
  display: flex;
  width: 100%;
  color: white;
  font-size: 5em;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  
}

a {
  /*text-decoration: none;*/
}

ul, ol {
  padding-left: 0px;
}

section #services {
  text-align: center;
  transform: translatez(0);
}
section #services h2 {
  margin: 80px 0px 40px;
  color: #fff;
  font-size: 2.4em;
  font-family: 'Raleway Dots', 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', 'Helvetica';
  text-transform: uppercase;
  text-align: center;
}
section #services li {
  width: 120px;
  height: 140px;
  display: inline-block;
  margin: 20px;
  list-style: none;
}
section #services li div {
  width: 120px;
  height: 120px;
  color: #131f43;
  font-size: 3.4em;
  text-align: center;
  line-height: 120px;
  background-color: #fff;
  transition: all 0.5s ease;
}
section #services li div:hover {
  transform: rotate(360deg);
  border-radius: 100px;
}
section #services li span {
  width: 120px;
  height: 20px;
  display: block;
  padding: 15px 0px;
  color: #fff;
  font-family: 'Advent Pro', sans-serif;
  text-transform: uppercase;
  font-size: 1.2em;
  text-align: center;
}

footer {
  display: -webkit-flex;
  font-family: 'Raleway', 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', 'Helvetica';
  padding-top: 0.8em;
  /*padding-left: 22px;*/
  padding-bottom: 22px;
  display: flex;
  width: 100%;
  font-size: 2.5em;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  color: white;

 /* -webkit-animation: pulsate 3s ease-out;
  -webkit-animation-iteration-count: infinite; */
  opacity: 0.75;

}


@-webkit-keyframes pulsate {
    0% { 
        opacity: 0.3;
    }
    50% { 
        opacity: 0.8;
        /*color: red;*/
    }
    100% { 
        opacity: 0.3;
    }
}

/*Animation testing*/


* {
  position: relative;
}

.frame {
  width: 500px;
  height: auto;
  margin: 15% auto 0;
  position: absolute;
  width: 100%;
}

svg {
  max-width: 100%;
  height: auto;
  display: block;
}



/*CLOUDS ANIMATION TEST*/
/**
 * Clouds
 */
.clouds {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 50%;
  overflow: hidden;
  transform: translateZ(0);
}

.cloud {
  position: absolute;
  top: 3.9%;
  width: 300px;
  right: 0;
  opacity: 1;
}

.cloud.front {
  z-index: 9;
}

.cloud.distant {
  z-index: 1;
}

.cloud.background {
  z-index: 1;
}

/*Cloud Sizing*/
.cloud.smaller {
  margin-right: 400px;
  width: 100px;
  margin-top: 50px;
}

.cloud.small {
  margin-right: 200px;
  width: 150px;
}

.cloud.big {
  width: 500px;
  margin-top: 50px;
  margin-right: 150px;
}

.cloud.massive {
  width: 600px;
  margin-top: 20px;
  margin-right: 0px;
}


/*Cloud: Animation*/
.cloud {
  -webkit-animation-name: cloud-movement;
  -webkit-animation-timing-function: linear;
  -webkit-animation-direction: forwards;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-duration: 8s;

  -moz-animation-name: cloud-movement;
  -moz-animation-timing-function: linear;
  -moz-animation-direction: forwards;
  -moz-animation-iteration-count: infinite;
  -moz-animation-duration: 8s;

  animation-name: cloud-movement;
  animation-timing-function: linear;
  animation-direction: forwards;
  animation-iteration-count: infinite;
  animation-duration: 8s;
}

.slow {
  -webkit-animation-duration: 9.2s;
  -moz-animation-duration: 9.2s;
  animation-duration: 9.2s;
}

.slower {
  -webkit-animation-duration: 11.2s;
  -moz-animation-duration: 11.2s;
  animation-duration: 11.2s;
}

.slowest {
  -webkit-animation-duration: 13.5s;
  -moz-animation-duration: 13.5s;
  animation-duration: 13.5s;
}

.super-slow {
  -webkit-animation-duration: 20.5s;
  -moz-animation-duration: 20.5s;
  animation-duration: 20.5s;
}

@-webkit-keyframes cloud-movement {
  0% {
    opacity: 0.08;
    -webkit-transform: translateX(300px);
    -moz-transform: translateX(300px);
    transform: translateX(300px);
  }
  10% {

    opacity: 0.5;
  }
  90% {
    opacity: 0;
  }
  100% {
    opacity: 0;
    -webkit-transform: translateX(-1000px);
    -moz-transform: translateX(-1000px);
    transform: translateX(-1000px);
  }
}

/*PROJECTS CSS*/

#proj-id {
  text-decoration: none;
}

.ningaloo-images img {
    width: 100%; /* you can use % */
    height: auto;
}

.pr-container {
    /*background-color: #131f43;*/
    text-align: center;
    font-size: 2em;
}

.pr-container a {
    /*text-decoration: none;*/
    color: white;
    font-family: 'Raleway', Helvetica;
    opacity: 0.9;
}

.pr-container a:hover {
    text-decoration: none;
    color: red;
}

i {
    font-family: 'Raleway', 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', 'Helvetica';
    font-size: 0.5em;
    color: white;
    opacity: 0.7;
}

p .tech-used {
  font-style: normal;
}

.hrgrad {
    border: 0;
    height: 2px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));

}

.proj-src-ol p {
  margin-bottom: 0em;
  margin-top: 0.6em;
}

#scroll-top {
  text-decoration: none;
  color: red;
}

/*Slide out Menu*/
.nav-side {
  z-index: 1;
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  max-width: 250px;
  /*background-color: #add8e6;*/
  box-sizing: border-box;
  padding: 20px;
  color: #fff;
  margin-left: -250px;
  transition: all 200ms ease-in-out;
}

.nav-toggle {
  position: absolute;
  right: -40px;
  top: 0;
  width: 40px;
  height: 40px;
  text-decoration: none;
  line-height: 40px;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.5);
  border-bottom-right-radius: 10px;
  box-shadow: 1px 0 3px rgba(0, 0, 0, .1);
}

.nav-side.nav-open {
  margin-left: 0;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, .1);
  background-color: rgba(0, 0, 0, 0.5);
  text-align: center;
}
.nav-toggle:before {
  content: "\2709";
  font-size: 2em;
  font-weight: 1000;
  color: #fff;
}

.nav-side.nav-open .nav-toggle:before{
  content: "\2190";
}

.contact-form a {
  box-sizing: border-box;
  padding: 4px;
  font-family: 'Raleway Dots', 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', 'Helvetica';
  text-decoration: none;
  font-size: 2em;
  color: #fff;
  border: 1px solid white;
}