@import url(http://fonts.googleapis.com/css?family=Raleway+Dots);


h1 {
    font-family: 'Raleway Dots', 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', 'Helvetica'; 
    font-weight: 300;
    text-align: center;

}

h2 {
    font-family: 'Raleway Dots', 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', 'Helvetica';
    font-weight: 300;
    text-align: center;

}

.container {
    position: absolute;
    top: 0px;
    bottom: 0px;
    width: 100%;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#131f43), to(#000000));
    background-image: -webkit-linear-gradient(top, #131f43, #000000);
    background-image:    -moz-linear-gradient(top, #131f43, #000000);
    background-image:      -o-linear-gradient(top, #131f43, #000000);
    background-image:         linear-gradient(to bottom, #131f43, #000000);
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-flex-flow: column wrap;
    flex-flow: column wrap;
    -webkit-align-content: center;
    align-content: center;

}

.pr-container {
    background-color: #131f43;
    text-align: center;
    font-size: 2em;
}



.pr-container a {
    text-decoration: none;
    color: white;
    font-family: 'Raleway Dots', Helvetica;
}

.pr-container a:hover {
    text-decoration: none;
    color: red;
}

.jato {
    display: -webkit-flex;
    padding-top: 2em;
    display: flex;
    width: 100%;
    color: white;
    font-size: 5em;
    -webkit-flex-direction: row /* works with row or column */
    flex-direction: row;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
}

.coming-soon1 {
    color: black;
    font-size: 2em;
}

.social-links {
}

.ningaloo-images img {
    width: 100%; /* you can use % */
    height: auto;
}


.welcome {
    font-family: "Helvetica";
    font-weight: 200;
    margin-left: 100px;
    margin-right: 100px;
    text-align: center;
}

.contact {
    font-family:"Helvetica";
    color: red;
    font-weight: 300;
    text-align: center;
    top: 0px;
    bottom: 100px;
    padding-top: 2em;
}
.image {
    text-align:center;
}
.twitter img {
    background-image:url(https://www.twitter.com/jato);
    text-align: center;
    width: 5%;
    display: block;
    margin: auto;
}
.hrgrad {
    border: 0;
    height: 2px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));

}